[2015-03-27 16:52] jhollingworth opened #2 "Support react-bootstrap"
React Bootstrap components have a different api. I suggest we update [``getDOMNode``](https://github.com/QubitProducts/react-test-tree/blob/master/lib/testNode.js#L124-L126) to look like this

[code]

[2015-03-27 16:54] oliverwoodings commented on #2
Are there any other react bootstrap quirks we might need to account for?

[2015-03-27 16:56] oliverwoodings opened #3 "Docs/examples microsite"
Would be useful to have a simple gh-pages microsite with docs and examples on.

[2015-03-27 17:00] jhollingworth commented on #2
nah, thats it if I recall

[2015-03-27 17:00] oliverwoodings commented on #2
Cool, will get it in the next version

[2015-03-27 17:26] #2 closed

[2015-04-06 08:48] oliverwoodings opened #5 "Stub/noop refs"
I've come across a need to stub out or noop various children of a component. For example, say I have a high level view with children that load data; currently if I want to test the high level view I have to stub out the data loading of the children when in-fact I would much rather just not render the children at all and be done with it.

There are two problems to solve here:

__1. How do you 'conf

[2015-04-06 08:57] jhollingworth commented on #5
Would [shallow rendering](https://facebook.github.io/react/docs/test-utils.html#shallow-rendering) not give you most of the benefits but in a simpler way?

[2015-04-06 09:01] oliverwoodings commented on #5
Already looked into it, but:

    Shallow testing currently has some limitations, namely not supporting refs.

[2015-04-06 09:24] jhollingworth commented on #5
annoying! well the way you configure stubs makes sense. I have absolutely no idea how you'd implement this though...

[2015-04-07 17:29] oliverwoodings commented on #5
Just spent a while trying to work this out. Needless to say it is pretty damn hard... I should be able to do it if I can find a way to intercept the render method of the element, however it is proving tricky to find.

[2015-04-08 16:03] #5 closed

[2015-04-10 11:55] jhollingworth opened #9 "ref="value" doesn't return the element"
If you have an element whose ref is `value` then it returns undefined

[2015-04-14 10:12] oliverwoodings commented on #9
That's really weird... I'll look into it

[2015-05-18 15:57] jhollingworth opened #11 "Setting ref and refCollection causes weird bugs"

[2015-05-18 16:13] oliverwoodings commented on #11
Example? I regularly do this and it works fine for me

[2015-05-18 16:17] oliverwoodings commented on #9
Don't know why I thought that was weird, it makes sense since 'value' is a property on TestNode: https://github.com/QubitProducts/react-test-tree/blob/master/lib/testNode.js#L35

Can probably make this less of a 'black hole' by adding `value` to the list of [protected keys](https://github.com/QubitProducts/react-test-tree/blob/master/lib/testNode.js#L49)

[2015-05-19 06:34] jhollingworth opened #12 "Support passing in childContext"
[code]

[2015-05-19 07:28] jhollingworth opened #13 "How do you stub collections?"

[2015-05-19 09:51] jhollingworth commented on #12
This is actually a bit harder than I originally thought since you need to wrap the component before its created. Some options off the top of my head

**Allow you to pass in a factory function**

Simplest although its a bit of a confusing API. If we went down this route i'd recommend we always recommend you pass in a factory function

[code]

**Wrapper function**

Simpler API (I think) but more cod

[2015-05-19 10:29] oliverwoodings commented on #13
You can stub it the same as a normal ref, although you can only stub the entire collection, not individual parts

[2015-05-19 10:41] oliverwoodings opened #16 "getDOMNode vs findDOMNode"
At some point the React team is going to deprecate getDOMNode. I don't think we should change test tree's API, however; we should keep the getDOMNode method and just be smarter internally about it. Therefore I propose we adjust our internal logic from this:

[code]
to this:

[code]

@jhollingworth thoughts? Do we actually need to have backwards support for getDOMNode?

[2015-05-21 11:16] oliverwoodings commented on #16
@jhollingworth bump

[2015-05-21 11:18] jhollingworth commented on #16
sorry. forgot about this.

We don't need backwards compatibility, we should just track the latest

[2015-05-21 11:19] oliverwoodings commented on #16
:+1: I'll just change it to do React.findDOMNode

[2015-05-21 12:16] oliverwoodings commented on #13
@jhollingworth this still an issue?

[2015-05-21 12:18] #9 closed

[2015-05-21 12:20] #16 closed

[2015-05-21 12:23] oliverwoodings commented on #12
Closed via #15

[2015-05-21 12:23] #12 closed

[2015-05-21 12:24] oliverwoodings commented on #11
Closing until more info is available

[2015-05-21 12:24] #11 closed

[2015-05-21 12:26] jhollingworth commented on #13
Nope

[2015-05-21 12:27] oliverwoodings commented on #13
:tada:

[2015-05-21 12:27] #13 closed

[2015-05-22 21:33] slonoed opened #19 "isMounted(...) is deprecated in plain JavaScript React classes"
[code]

https://github.com/QubitProducts/react-test-tree/blob/master/lib/testTree.js#L44

[2015-05-27 08:31] oliverwoodings commented on #19
@slonoed thanks for this, I believe I should be able to replace the call internally with React.findDOMNode, will do some testing.

[2015-05-27 08:34] oliverwoodings commented on #19
Actually just using React.findDOMNode on it's own won't work since it throws exceptions if the node isn't found. Easiest option will probably be to wrap findDOMNode in a try catch, although that does feel a tad hacky... simpler than the other solution, however, which would be to wrap componentDidMount and componentWillUnmount and then maintain our own internal mounted state tracker.

[2015-05-29 13:23] #19 closed

[2015-05-29 13:26] oliverwoodings commented on #19
Fixed via #20

[2015-06-04 15:08] TvoroG opened #21 "Updating of nested components do not refresh parent refs"
Hello! I'm not sure it is a bug or not. Minimal example:

Components:
[code]

Test:
[code]

After `add()` invoking in test, React only renders `Empty` and `Inner` components and don't call `componentDidUpdate()` of NestedComp, so refs do not update.

[2015-06-05 09:29] oliverwoodings commented on #21
That's an interesting one! I'll have a play, see if I can come up with something.

[2015-06-08 16:03] TvoroG commented on #21
@oliverwoodings Thanks!

[2015-06-08 16:03] #21 closed

[2015-06-11 12:51] darkleaf opened #23 "babelify dependency"
Hi!
Is this project **really** need babelify package as a production dependency?

PR by @oliverwoodings: [Fix babelify dependency. Add support for react-bootstrap](https://github.com/QubitProducts/react-test-tree/pull/4)

[2015-06-12 10:12] oliverwoodings commented on #23
This was done to stop downstream projects using browserify throwing errors about babelify not being found. Actually I think we can avoid this entirely by just changing the test setup (since we don't need browserify for anything but testing). Thanks for pointing it out!

[2015-06-12 10:13] oliverwoodings opened #24 "Tests for update manager"
Need some more detailed tests for the update manager

[2015-06-12 10:19] oliverwoodings opened #25 "Remove dist files"
I don't believe we actually need a single distribution of the library since everyone uses this with a build tool like browserify or webpack. `package.json` currently points to `index.js`, so it is unlikely to cause any problems.

* Remove build process
* Remove browserify (#23)
* Use webpack for running tests

[2015-06-12 10:19] oliverwoodings commented on #23
See #25

[2015-06-12 10:19] #23 closed

[2015-06-15 07:00] darkleaf commented on #23
Thanks! :+1:

[2015-06-15 22:08] #25 closed

[2015-06-18 12:51] simax opened #27 "Unable to simulate keyDown"
Hi,

I have the following component:

[code]

Which works perfectly, but now I want to test it (and see coverage). So I write the following test.

[code]

Which works and I can see that simulating the pressing of the ESCAPE key (keyCode 27) calls the ```handleAbandonChanges```.

But I can't seem to make it work with ```node.simulate.keyDown ...``` I have to resort to using TestUtils.

Am I doing s

[2015-06-18 12:55] oliverwoodings commented on #27
The simulate functions available on the node are already bound to the component, therefore you don't need to provide txtAreaNode as the first parameter. Instead you just do `txtAreaNode.simulate.keyDown({ keyCode: 27 })`

[2015-06-18 12:55] #27 closed

[2015-06-18 13:36] simax commented on #27
OMG, I feel stupid now. Its even stated in the docs.

On another note, how could I test whether the handleAcceptChanges() method
was called or not. Should I be using something like sinon or is there a way
to do it via testTree ?

Thanks for your help,
Simon

On Thu, 18 Jun 2015 at 13:55 Oliver Woodings <notifications@github.com>
wrote:

[2015-06-18 13:49] oliverwoodings commented on #27
@simax no worries, we all do it :smile:

[2015-06-18 14:00] simax commented on #27
Oliver,

Did you see the second part of my reply? ....

How could I test whether the handleAcceptChanges() method was called or
not. Should I be using something like sinon or is there a way to do it via
testTree ?

Thanks for your help,
Simon

On 18 June 2015 at 14:49, Oliver Woodings <notifications@github.com> wrote:

[2015-06-18 14:00] oliverwoodings commented on #27
Just saw the other part of your question (Github cut it off)

testTree is designed purely to make react components more accessible for testing. What you are asking about there is more generic and not really related to React specifically, so it is not something testTree will ever do. I'd advise using sinon.

[2015-06-18 14:28] simax commented on #27
Cool, thought so, just wanted to check.

Thanks for your help.
Simon

On 18 June 2015 at 15:00, Oliver Woodings <notifications@github.com> wrote:

[2015-06-23 19:27] winkler1 opened #28 "Please support all simulate methods"
Hi-
 I needed to doubleClick on a node, and ended up reaching into `TestUtils.Simulate.doubleClick` to do it.

Would be easier to remember and use if react-test-utils did everything TestUtils does. Found this programatic way to list all supported methods at http://qiita.com/kimagure/items/cf5200b0a2a516ca68f8:

[code]

[2015-06-23 19:30] oliverwoodings commented on #28
It already supports all simulate methods. Please see the 'simulate' object
available on all nodes (as documented in the readme).
On 23 Jun 2015 20:27, "Jeff Winkler" <notifications@github.com> wrote:

[2015-06-23 19:41] winkler1 commented on #28
Ah - so it does, thanks! Was confused because click() is handled differently.

[2015-06-23 19:43] #28 closed

[2015-07-13 08:08] oliverwoodings opened #30 "React 0.14"
This is going to break a lot of stuff :sob:. At a first glance I believe we are going to need to find a method of retrieving the component of a DOM node (i.e. the reverse of `React.findDOMNode`).

[2015-07-16 10:41] oliverwoodings commented on #30
After doing some digging we should still be ok. React adds '_reactInternalComponent' to all DOM nodes it renders so you can still access it's data. Also if you nest a React classes you will get the class itself as a ref, not it's DOM node, which is handy. This means that we need to split the TestNode class into two different types: classes and elements. Elements don't have their own child refs so

[2015-07-22 18:08] joeybaker opened #33 "Support simulating additional events"
It would be great if additional events were supported in as a method on `node.simulate`. We're using https://www.npmjs.com/package/react-tap-event-plugin and haven't found a way to use test tree to test these actions.

[2015-07-22 18:49] oliverwoodings commented on #33
Interesting idea, would you like a way to register additional simulation
methods with the global test tree instance?
On 22 Jul 2015 7:08 pm, "Joey Baker" <notifications@github.com> wrote:

[2015-07-22 18:51] joeybaker commented on #33
I haven't dug into how test tree does this, but ideally, it would just grab everything off of `react/lib/EventPluginHub`. Failing that, yea, a way to register a new even with test tree would be great.

[2015-07-23 09:45] oliverwoodings commented on #33
I'm actually a bit confused as to why it isn't already picking up the custom events, since it reads everything straight off TestUtils.Simulate whenever a tree is created. As long as you are injecting the tap event plugin before using the `testTree` function it should pick up those events.

I guess the most bullet proof solution here would be for me to copy React's own Simulate functionality where

[2015-07-31 11:33] jhollingworth opened #34 "Ignoring Higher Order Components"
Its become [common in the react world to use function composition to add additional to components](https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750), known as [higher order components](https://gist.github.com/sebmarkbage/ef0bf1f338a7182b6775). Unfortunately they mess with a components refs which makes testing with test-tree a pain.

I'd like a way to t

[2015-08-01 22:00] aguestuser commented on #33
+1 to this! I'm using the fantastic [react-tappable component](https://github.com/JedWatson/react-tappable), which provides an `onPress` event handler.

[Using it in this component](https://github.com/the-learning-collective/whereat-web/blob/ffa5a2e5378a40e4732885f65476187373c1534c/src/components/GoButton.jsx#L15-L21) works as expected when running, but I am unable to place the behavior under test

[2015-08-03 08:47] oliverwoodings commented on #34
So one issue I can think of with this approach is if you are using HOC from other libraries. It is unlikely that they would have the `__highOrderComponent={true}`. What would you want to happen if you are using a HOC that you can't directly modify?

[2015-08-03 08:51] jhollingworth commented on #34
You could optionally have it as a static property of the class

[code]

[2015-08-03 08:54] oliverwoodings commented on #34
What is `SomeComponent` in this case? The HOC or the inner component?

[2015-08-03 09:12] jhollingworth commented on #34
The HOC

[2015-08-03 09:18] oliverwoodings commented on #34
So I think I would prefer to have only one solution to this problem, and I quite like the idea of assigning a static property to the HOC since it feels very declarative and uniform.

Only final thing to discuss is the naming. To me this doesn't make much sense when reading it:

[code]

It makes it sound like `SomeComponent` is the inner component, but then you are setting a static property called

[2015-08-03 10:09] jhollingworth commented on #34
sure

[2015-08-04 21:11] aguestuser commented on #33
Hi all. FWIW: I was able to resolve my particular issue fairly easily. Problem reduced to a failure to invoke the simulation methods I wanted to call. Rewriting the above as follows worked just fine to simulate a `longPress`:

[code]
Although the invokation gotcha is pretty straightforward, I thought it might be easy to overlook for someone who'd only read the docs and wasn't familiar with React T

[2015-08-06 10:37] oliverwoodings opened #36 "How to handle out-of-class refs?"
@jhollingworth @giuse88 could do with some input on this one.

Right now, testTree does not support either of the following use cases (they are functionally identical):

[code]

[code]

The reason we can't access `textInput` is because refs belong to the `render` function they are directly returned from. Internally we wrap all calls in a HOC (for many reasons), so in this case `textInput` ends up

[2015-08-06 11:20] oliverwoodings commented on #33
@joeybaker would you mind showing me a scenario where you can't get the tap event plugin to work? I just added a test case to make sure simulate library addons are correctly applied to nodes and it is already passing without me changing anything: b0f8c5bbfcf8e9736c31d79077d73ed259890426 https://travis-ci.org/QubitProducts/react-test-tree/builds/74389501

[2015-08-06 15:03] #34 closed

[2015-08-06 15:10] oliverwoodings commented on #33
Closing this for now, I've added extra test cases in #38 to ensure this should all work. Please let me know if there is still an issue.

[2015-08-06 15:10] #33 closed

[2015-08-06 16:37] joeybaker commented on #33
@oliverwoodings Thanks for taking the time! I'll double check that I'm wrong :)

[2015-08-06 16:51] oliverwoodings commented on #33
Just make sure you are injecting the events before you create the test tree

On 6 August 2015 at 17:37, Joey Baker <notifications@github.com> wrote:

[2015-08-12 13:07] wbecker opened #39 "ensureSafeRefName warnings are emitted on stubbed nodes"
In the following case a warning is emitted, however it probably shouldn't because the component that is causing the warning is stubbed out. When you are using a 3rd party library that you are stubbing out, you don't want to be warned about their problems!

[code]

[2015-08-12 13:19] oliverwoodings commented on #39
You have no idea how excited I got when I got an email from 'William Becker' pop up in my inbox

![](https://media1.giphy.com/media/mpoYCxf1BUU5W/200.gif)

I'm not sure why you are getting that warning - it shouldn't even be creating the node, let alone reading it's refs! I'll look into it when I get some time.

[2015-08-12 14:12] wbecker commented on #39
ZOMG! Thanks for that, works well otherwise.

Might see you Friday!

[2015-08-12 14:43] oliverwoodings commented on #39
Friday?

On 12 August 2015 at 15:12, William Becker <notifications@github.com> wrote:

[2015-08-12 14:46] roberttod commented on #39
![movie on 12-08-2015 at 15 44](https://cloud.githubusercontent.com/assets/823104/9226973/1d321664-4109-11e5-950b-a6c147a1f595.gif)
My reaction ^

[2015-08-12 14:53] oliverwoodings commented on #39
![](http://g.recordit.co/QtGzlZIsiC.gif)

My reaction every morning when I arrive at work ^

[2015-08-12 15:01] wbecker commented on #39
:blush:

[2015-08-18 19:35] yanivtal opened #40 "How do you test Redux?"
I noticed that you contributed to react-redux to make sure we can access the wrappedInstance of the connect HOC. How do you test your top level component that gets additionally wrapped by Provider?

In this example:
[code]

Without the Provider I can access the Layout component, but because it's wrapped in connect, it needs a Provider. How would you get access to the Layout component? Do you have

[2015-08-18 20:03] oliverwoodings commented on #40
We recently released a new feature which should help with this. Check out the section on Higher Order Components in the README. You should be able to do something like so:

[code]

`layout` will then be a reference to the test tree starting with your Layout component rather than the provider.

[2015-08-18 20:11] yanivtal commented on #40
I set innerComponentRef to 'wrappedInstance' before exporting the Layout component but the layout object returned by tree isn't that rendered Layout component, it's the Provider. What do I do to get around the Provider?

[2015-08-18 20:19] oliverwoodings commented on #40
Oh wait, I think I see your problem now. This is related to https://github.com/QubitProducts/react-test-tree/issues/36 about handling out-of-render refs (give it a read, should explain the situation you are running into). tl;dr of it, wrap your testing component in it's own component like so:
[code]

You could optionally combine this with the innerComponentRef stuff to exclude your testing compone

[2015-08-18 20:42] yanivtal commented on #40
Woo! It worked with tree.provider.layout. Thanks a ton! This project is fantastic. Making our tests real clean!

[2015-08-18 20:42] #40 closed

[2015-08-18 20:45] oliverwoodings commented on #40
Out of interest, did you end up having to wrap it in a testing component?

[2015-08-18 21:01] yanivtal commented on #40
Yes it didn't work without that trick. Thanks!

[2015-08-18 21:02] oliverwoodings commented on #40
Hopefully once #36 is resolved you won't even need to do the wrapping, testTree will do it for you :)

[2015-08-19 01:51] yanivtal opened #41 "How do you test React Router?"
As a harness for React Router you have something like this:
[code]

Where the ComponentWrapper you want to test may look like this:
[code]

In this case I want to get to the navbarWrapper. The complication is that the router needs to render the component for things like Links to work. Neither the Router nor the Routes are actually rendered as React Components. If I render the TestHarness with reac

[2015-08-19 08:44] oliverwoodings commented on #41
Interestingly this is related to my dislike of how react-router uses JSX to define routes. A core ideology around JSX is that it is direct abstraction of what will be rendered into the DOM; a component written in JSX should result in a component in the DOM. However, the routing components used by react-router never actually hit the DOM and in my opinion just end up causing confusion like you are e

[2015-08-19 19:15] yanivtal commented on #41
I've spent a few hours on this and I'm still chugging away. Your solution works well for the v0.13 API but they've changed quite a few things with 1.0.0-beta3.

There's no more router.run and they don't give you the Handler to render. The closest I can get is:
[code]

So in v0.13 the router.run() gave you a Handler that you could render using test tree. In v1.0.0-beta3 you have to call render on t

[2015-08-19 19:21] yanivtal commented on #41
I've spent a few hours on this and I'm still chugging away. Your solution works well for the v0.13 API but they've changed quite a few things with 1.0.0-beta3.

There's no more router.run and they don't give you the Handler to render. The closest I can get is:
[code]

So in v0.13 the router.run() gave you a Handler that you could render using test tree. In v1.0.0-beta3 you have to call render on t

[2015-08-19 20:23] oliverwoodings commented on #41
Ahhh they have screwed us over :-1:
I'll see if i can hack together a workaround.

[2015-08-19 20:23] yanivtal commented on #41
Much appreciated!

[2015-08-19 20:25] yanivtal commented on #41
I created an issue for React Router as well https://github.com/rackt/react-router/issues/1743

[2015-08-19 21:27] oliverwoodings commented on #41
Got a solution for you!

[code]

[2015-08-19 21:37] oliverwoodings commented on #41
To summarise what the testRouterTree function does, it hijacks the render function of `Router`, cloning the component it returns and adding a ref to it. Because the value still appears to return from `Router`'s own render function, React will apply the ref to the instance of the router. We then combine this with testTree's ability to ignore Higher Order Components by setting the `innerComponentRef

[2015-08-19 23:10] yanivtal commented on #41
Nice! Batman over here with the tricks. Works like a charm.

[2015-08-25 07:46] oliverwoodings commented on #41
I'm thinking maybe we could release a separate library called react-router-test-tree that exports a HOC on the Router component. Something like this:

[code]

Would this be useful to you, @yanivtal?

[2015-09-02 07:00] tnrich opened #42 "Document is not defined."
Hitting this error while trying to use your library:
 ReferenceError: document is not defined
      at Object.testTree [as default] (node_modules/react-test-tree/lib/testTree.js:14:19)
      at Context.<anonymous> (test/InfiniteScroller.js:88:19)

I didn't see jsdom being referenced anywhere. Is it necessary to have the DOM for this module to work?

[2015-09-02 07:42] oliverwoodings commented on #42
Hi, yes it is necessary to have a DOM. If you are testing in Node then you will need to run something like jsdom. This is due to React itself, not test-tree. Even React's own test utilities require you to have a DOM in order to render in tests: https://facebook.github.io/react/docs/test-utils.html

I will add a note to the readme

[2015-09-02 07:42] #42 closed

[2015-09-02 11:31] Blystad opened #43 "refCollections does not work with react-bootstrap Select"
I'm unable to get `refCollections` to work with `react-bootstrap`s `Input` node (with `type=select`).

I just get a empty collection. However, if I replace `Input` with `select`, then it works correctly.

[2015-09-02 11:32] oliverwoodings commented on #43
Would you mind creating a minimal fiddle to demonstrate this please?

[2015-09-02 12:49] Blystad commented on #43
Here: https://gist.github.com/Blystad/b99264d4724f4c070948

I also created a repository with everything:

https://github.com/Blystad/issue-RTT-43

[2015-09-03 07:54] oliverwoodings commented on #43
Thanks for this, looking into it for you now!

[2015-09-03 08:27] oliverwoodings commented on #43
Released as v0.3.1

Thanks for the perfect test setup!

[2015-09-03 09:40] Blystad commented on #43
The test still fails for me, even with 0.3.1.

[2015-09-06 10:22] Blystad commented on #43
@oliverwoodings Can you please re-open this issue? 0.3.1 didn't fix it.

[2015-09-06 15:55] oliverwoodings commented on #43
Yep, sorry I've been busy and haven't had time to look into it yet. This might end up being more complicated to solve than i first thought.

[2015-09-11 13:25] austinpray opened #45 "SauceLabs Access Key Exposed"
Hey there!

Really enjoying this tool.

I wanted to point out that you have an unencrypted SauceLabs access key unencrypted. I believe this allows someone to run tests as you, which is bad because they could be running private tests which violate their ToS.

`travis encrypt SAUCE_ACCESS_KEY={{YOUR_KEY}}`

I noticed you are also parsing your .travis.yml in your karma config. This isn't necessary. Y

[2015-09-14 07:56] oliverwoodings commented on #45
Hi @austinpray, thanks for this. I'll get this looked at soon.

[2015-09-16 21:55] austinpray commented on #36
I don't have any issue with adding the `wrap: true`. It's backwards compatible too.

[2015-09-23 11:40] goncalvesjoao opened #46 "Can't find subsequent children ref of a refCollection"
Guys, I've got the following test that I can't make it pass, for the life of me.
Am I doing something wrong?

[code]

droid.avatar is undefined, and droid.refs is empty. What am I missing?

Thanks in advance!!

[2015-09-24 08:01] oliverwoodings commented on #46
I think you are mis-understanding how refs are 'owned' in a component. Refs belong to the component that outputs them from it's `render` method. If we simplify your render function, this is what you are actually returning:

[code]

The problem should be fairly clear now; your `avatar` ref actually belongs to the `StarwarsDroid` component, and you are declaring it multiple times which means it will

[2015-09-24 08:43] oliverwoodings opened #47 "Solve collisions between ref names and test-tree methods"
We have an inherent flaw in test-tree's node API design. @jhollingworth described it well: there are two separate domains that are able to influence the API of a node. The first is test-tree's node methods themselves, and the second is the collection of refs of that node. This means it is possible to have collisions between ref names and method names. For example, some components in React Bootstra

[2015-09-24 10:03] wbecker commented on #47
The beauty of react test tree is that its very terse to get at things and simulate them. Adding this in would remove that and would suck - especially if its just for a few edge cases that don't normally hit you.

Could you instead have some way of specifying aliases - and detecting when a collision happens without an alias so that the user knows he ought to add one in?

[2015-09-24 10:18] oliverwoodings commented on #47
I guess it could be possible to specify aliases in the same way you can stub things out. E.g:

[code]

If we choose this option I would want to move static property access to methods. E.g. instead of `node.value` you do `node.getValue`. Thoughts on that?

[2015-09-24 10:22] wbecker commented on #47
Static as in the special helpers that react-test-tree provides? I guess
that's not so bad.

On Thu, Sep 24, 2015 at 11:18 AM, Oliver Woodings <notifications@github.com>
wrote:

[2015-09-24 10:24] oliverwoodings commented on #47
Yeah - the majority of collisions come from react-test-tree's `element` and `value` properties

[2015-09-24 10:35] jhollingworth commented on #47
That API is horrible

![](https://media.giphy.com/media/rOJvPDsG3StAk/giphy.gif)

[2015-09-24 10:36] oliverwoodings commented on #47
@jhollingworth which bit?

[2015-09-24 13:20] goncalvesjoao commented on #46
lol thanks for the reply @oliverwoodings makes sense!

[2015-09-24 13:20] #46 closed

[2015-10-11 20:27] oliverwoodings commented on #47
@jhollingworth just following up on this again, going to try and get test tree updated for 0.14 and also try and get this issue closed. Which bit of that proposed API didn't you like?

[2015-10-13 18:07] robert-chiniquy commented on #41
I'd be interested to see this. Thanks for the discussion, been struggling with this, going to try the suggested method out.

[2015-10-14 07:06] oliverwoodings commented on #41
@robert-chiniquy I'll look into getting this done as a small separate module

[2015-10-25 19:24] oliverwoodings commented on #43
@Blystad sorry for the long delay on this. I've managed to find time to pick through why this doesn't work. The tl;dr of it is that react-bootstrap wraps the `<option />`s in several layers of parent components. Currently the refCollection detection system in react-test-tree does not support this deep nesting. I've got an idea for how to deal with this, but it probably won't be included until v0.4

[2015-10-25 23:00] Blystad commented on #43
Alright, thanks for the update @oliverwoodings

[2015-10-26 01:27] aguestuser commented on #30
Any updates on this? Is a patch still actively being worked on? This issue was opened in July and it looks like the [react0.14 branch](https://github.com/QubitProducts/react-test-tree/blob/react0.14/package.json) was last committed to in July as well. Are there still plans to patch the library to work with v0.14? I ask because am in the middle of transitioning to v0.14 for a new project, LOVE this

[2015-10-26 07:02] oliverwoodings commented on #30
Hi Augustin, I am working on it, it just takes time since 0.14 broke a lot
of stuff. I'm hoping to have an rc ready today.
On 26 Oct 2015 01:27, "Austin Guest" <notifications@github.com> wrote:

[2015-10-26 07:03] oliverwoodings commented on #30
Sorry, meant Austin!
On 26 Oct 2015 07:02, "Oliver Woodings" <oliver.woodings@qubit.com> wrote:

[2015-10-26 14:14] aguestuser commented on #30
Thanks Oliver. No worries at all! Breaking changes in someone else's library are always the worst! Look forward to seeing how you field them. In general: thanks for all the hard work and the great library! (And no worries about the the name either -- I actually quite like Agustin! :smiley_cat:)

[2015-10-26 16:22] Olical commented on #47
I personally really like the `get` / `getIn` style since it's consistent with the ImmutableJS API. The alternative is to just namespace the properties to `refs` or something.

[2015-10-26 16:27] oliverwoodings commented on #47
Yeah I've considered namespacing them to `refs`, however it becomes a bit confusing. You can do this:

`tree.refs.bar.refs.foo.element.refs`

Which would make you think that the last `refs` is the same as the others, except it isn't since it is the raw refs from the element.

When written with the `get/getIn` style you end up with this:

`tree.getIn("bar", "foo").element.refs`

Which I am pretty h

[2015-10-26 16:34] Olical commented on #47
Sounds good to me. Worth keeping it consistent with the ImmutableJS API and passing an array to `{get,set}In` as opposed to using arguments? Allows for extension of the API later.

I really like it too since a path is always represented as an array in every instance making it easier to spot and work with. It encourages you to define paths ahead of time then too.

[2015-10-26 16:34] oliverwoodings commented on #47
Yeah good point, I'll restrict it to an array instead of separate args.

[2015-10-26 17:06] doctyper commented on #30
:+1: would love to keep this helper for our `0.14` migration.

[2015-10-26 17:12] oliverwoodings commented on #30
Made good progress today - should have an RC tomorrow morning. There will be some breaking API changes, I'll be documenting them soon!

[2015-10-26 17:20] aguestuser commented on #30
WOOHOO! :100:

[2015-10-28 16:47] goncalvesjoao opened #48 "[1.0.0-rc1] node.get(refName) is returning more that it should and using stateless function component raises "Cannot read property '_reactInternalInstance' of null""
Hi guys, I've made a simple use case to demonstrate these two problems, checkout it out: https://github.com/goncalvesjoao/rtt-test

Using react-test-tree 1.0.0-rc1 I'm able to test the first approach but not the other two.

The first example src/components/Droids, test/components/DroidsSpec is green, no problems there.

The second example src/components/DroidsWithRestProps, test/components/DroidsW

[2015-10-28 16:58] oliverwoodings commented on #48
Thanks for this! Really helpful :)

DroidsWithRestProps - you are correct in that this is caused by props being passed to children. The root cause of this is because rtt assigns a unique an __rttId to each element, however I didn't factor in that props could be overwritten (oops). I might need to re-evaluate how I manage node ids!

DroidsWithStatelessComponent - I completely forgot about stateless

[2015-10-29 09:59] oliverwoodings opened #49 "How do we deal with stateless components?"
React 0.14 added stateless components. This is fine and dandy until you realise that stateless components behave very differently to regular components. This presents us with a few issues; some are easily solvable, some are not.

### Issues

#### 1. Stateless components have no 'internal instance'
This is more of an internal concern. We use the internal instances of elements to access props, store

[2015-10-29 10:00] oliverwoodings commented on #48
I've come up with a fix for the rest props thing. Check out #49 for info about stateless components - could do with your feedback!

[2015-10-29 11:20] oliverwoodings commented on #49
Ok this is worse than I thought - adding point number 3

[2015-10-29 11:37] oliverwoodings commented on #30
This is currently the biggest blocker on releasing 0.14 support: https://github.com/QubitProducts/react-test-tree/issues/49

[2015-10-29 12:29] goncalvesjoao commented on #48
Cool, glad I could be of service. Waiting for that fix then ;)

[2015-10-29 12:33] goncalvesjoao commented on #49
Yeah I felt this pain too when I realized that stateless components don't give rise to instances.

According to this: https://github.com/facebook/react/issues/4936

They are supposed to be that way.

And I thought: "Crap. Now I can't access Parent -> Child (Stateless) -> GrandChild component."
and then it hit me... hummm maybe that's the point, I guess unit tests shouldn't be doing this kind of ex

[2015-10-29 12:38] goncalvesjoao commented on #49
@oliverwoodings "rtt" and "rttCollection" would do the trick for me, but after reading https://github.com/facebook/react/issues/4936 something tells me that we are missing the point by doing that kind of workaround.

I can't find a good solution for testing stateless components without refs.... and this me making me very confused. I guess I need to study this stateless components stuff, some more.

[2015-10-29 12:38] oliverwoodings commented on #48
@goncalvesjoao rc2 has been released, it should fix the rest props issue. Please give it a try :)

[2015-10-29 12:39] oliverwoodings commented on #30
1.0.0-rc2 has been released

[2015-10-29 13:00] oliverwoodings commented on #49
@goncalvesjoao yeah this is exactly how my thought process went as well :p I understand their reasoning behind wanting to not have refs on stateless components when that code is running in a production environment. A stateless component should be opaque for everything _except_ when you are unit testing that specific component. Right now it seems like the component is opaque even when you want to t

[2015-10-29 13:07] oliverwoodings commented on #48
Actually rc2 might be broken... hold on

[2015-10-29 15:37] goncalvesjoao commented on #49
"I understand their reasoning behind wanting to not have refs on stateless components when that code is running in a production environment. A stateless component should be opaque for everything except when you are unit testing that specific component" nice, that's what I was missing.

Production stateless components should not rely on refs but that doesn't not mean that on a testing environment,

[2015-10-29 16:36] oliverwoodings commented on #48
Ok released rc3 which fixes the bugs in rc1 + 2 (except stateless components)

[2015-10-29 16:36] oliverwoodings commented on #30
1.0.0-rc3 has been released

[2015-10-29 16:58] aguestuser commented on #49
Like @goncalvesjoao I use refs almost exclusively for testing. `rtt` and `rttCollection` would suit me fine. Question (which likely betrays a lack of familiarity with the implementation details at play): if the only purpose of these props is for testing, would it be possible to set some sort of transpile-time flag for webpack, uglify, etc... to strip them from the codebase for production use?

[2015-10-29 17:14] joeybaker commented on #49
After reading through https://github.com/facebook/react/issues/4936 (FYI: https://github.com/facebook/react/issues/4972 is the issue to subscribe to), it seems like this whole problem is an oversight that React would like to solve. That said, there's no promise of a fix in the near future if at all.

The `rtt` and `rttCollection` idea seems fine, but I echo @aguestuser – it would be great to have

[2015-10-29 17:20] oliverwoodings commented on #49
Just had a good chat with @jhollingworth and @davidpadbury here at Qubit. We're going to go with the proposed solution, but will use `testRef` and `testRefCollection` since they are a bit more declarative. Babel transform also sounds like a great idea - we will look into it.

@joeybaker I believe that redux problem is slightly different - would you mind raising a separate issue? Thanks :)

[2015-10-29 17:23] joeybaker opened #50 "bug: `children` is a function fail to propagate refs"
I've run into a problem trying to test inside a redux `Provider` in react 0.13. React 0.14 allows redux to not use a function as the child, but this still feels like a legitimate use case that test tree should enable.

[code]

The above won't let you access the `'hi'` ref with test tree.

[2015-10-29 17:24] joeybaker commented on #49
:+1: Cool.

@oliverwoodings issue created: #50

[2015-10-29 17:35] jhollingworth commented on #50
Not 100% but I [think you can use `innerComponentRef` here](https://github.com/QubitProducts/react-test-tree#higher-order-components).

[code]

[2015-10-29 18:01] goncalvesjoao commented on #48
marvellous! thanks @oliverwoodings I'll close this issue, since #49 already addresses the same problem.

[2015-10-29 18:01] #48 closed

[2015-11-01 10:56] oliverwoodings commented on #50
Yeah what @jhollingworth sounds about right. Your children are most likely not actually being returned by the Provider component and are being rendered by some lower level component which you don't have direct access to.

[2015-11-01 11:01] oliverwoodings commented on #49
@goncalvesjoao @aguestuser @joeybaker @jhollingworth do you think we should change `innerComponentRef`(the higher-order-component stuff) to use the new `testRef` prop? There are a few arguments either way:

#### Pros
* Less confusing - we wouldn't be mixing `testRef` and `ref`
* Will work with higher-order stateless components

#### Cons
* Quite a lot of 3rd party libraries already have `ref`s on

[2015-11-01 18:00] oliverwoodings commented on #49
I have released react-test-tree@1.0.0-rc4 with the new `testRef` and `testRefCollection` syntax. Would appreciate it if anyone could give it a try!

[2015-11-01 22:01] joeybaker commented on #50
Got it. Thanks both. Would you accept a PR that clarified this in the docs?

[2015-11-02 08:55] oliverwoodings commented on #50
Yep go for it! Make it against the react0.14 branch, thanks :)

[2015-11-02 08:55] #50 closed

[2015-11-03 18:16] jimfb commented on #49
A lot of the conversation seems to have been happening here, so I thought I'd jump in.

@goncalvesjoao said:

We (React team) does not see stateless components as fringe.  In fact, the community seems to be drifting more toward "If it is possible for a component to be a stateless function, it should be a stateless function".  Stateless functions are simpler, less boiler plate, easier to understand

[2015-11-03 20:39] joeybaker commented on #49
@oliverwoodings what you say about dev/prod parity for refs makes sense. What do you think about the proposal to strip out `testRef` for prod?

[2015-11-03 21:08] oliverwoodings commented on #49
@jimfb thanks for getting involved in the discussion! Always nice to see the react team out in the community :)

I actually agree with everything you say. I think maybe we have crossed wires a bit about where we are taking reacts-test-tree now and where we would like to see react heading.

What the discussion in this thread has really boiled down to and revealed is:

* refs actually shouldn't be u

[2015-11-03 21:45] jimfb commented on #49
@oliverwoodings To be honest, I don't think I have enough context on this project to make an intelligent recommendation.  It sounds to me like you guys are asking good questions and working towards finding good solutions.

I'm not sure that I understand what `testRef` gets you above/beyond what a [callback ref](https://facebook.github.io/react/docs/more-about-refs.html#the-ref-callback-attribute)

[2015-11-03 22:41] joeybaker commented on #49
@jimfb That API sounds good. Is there a good place to follow that discussion?

[2015-11-03 23:53] jimfb commented on #49
@joeybaker There is a react github issue called "Umbrella: New Devtools API", but that's less of a discussion area and more of an area for tracking progress toward completion (much like our umbrella issues for a release).  Realistically, I still need to meet with Sebastian so we can pound out a reasonable proposal, and we'll be sure to post that info once we have something concrete for people to c

[2015-11-04 01:07] joeybaker commented on #49
Cool. Thanks @jimfb!

[2015-11-04 08:40] oliverwoodings commented on #49
@jimfb the main reason for using `testRef` instead of `ref` is that `testRef` can be used on stateless components

[2015-11-04 08:51] oliverwoodings commented on #49
That new devtools API does sound ideal, i'll keep an eye out for developments on it!

[2015-11-04 15:47] goncalvesjoao commented on #49
@jimfb thank you so much for your input, I've tried using ref callbacks on stateless components but since stateless components don't have a "this" I can't do something like the following:

[code]

I guess the simple question is how can I do something like the following example bellow, without my spec being couple to the components dom structure.

[code]

If my fellow designers decide that button2

[2015-11-04 15:55] jimfb commented on #49
@goncalvesjoao Right, but if I understand correctly, the issue is primarily that you are deciding which button to click based on order rather than button function.  That's not what a user would do, so that's not what your test should do.

[code]

If you find the button based on the text within the button (ie. what the button "says", which is the same way that your users will find the buttons) then

[2015-11-04 16:32] goncalvesjoao commented on #49
How can I find the button through its text, cycle through all children until one of them yields textContent === 'Button1' for instance?

Ok, that could work.
But the spec will still break if the designer team changes the copy of the button, the component logic is correct but the spec will break.

Something like css selector would be great like

[code]

const button1 = findDOMNode(statelessComponen

[2015-11-04 16:37] jimfb commented on #49
Yes, looping through, or using automated selectors as part of a test library/framework.  The test libraries we provide are primarily for our own use within the core.  If they happen to work for other people, great, but that was not the intent.  My guess is that you'll quickly outgrow the React testutils, and should try to find a real testing framework if you want to do automated testing.

But yes,

[2015-11-04 17:06] goncalvesjoao opened #51 "[proposition] search nodes by using some kind of css selectors (search for a node with #id)"
#49 made me think that maybe something like the old school jQuery('#button1).click() way of doing things might solve the need of having DOM structure agnostic specs and the fact that Reat Components should be avoiding refs.

Something around these lines maybe:
[code]

what do you guys think?

This way the designer team can mess around with the DOM structure, change the elements text, etc. and the

[2015-11-04 17:20] oliverwoodings commented on #51
Have you seen [teaspoon](https://github.com/jquense/teaspoon)? Pretty similar to what you are talking about there. I don't think this kind of thing really comes under react-test-tree. Not disagreeing with the methodology about testing that way (it is something I am considering personally) but I won't be changing react-test-tree so much from it's original idea of working with a declarative tree.

[2015-11-04 17:24] goncalvesjoao commented on #51
Sorry didn't know about teaspoon.
I agree with you completely @oliverwoodings you are right react-test-tree would suffer too big of a change and it would set a collision route with teaspoon.

[2015-11-04 17:24] #51 closed

[2015-11-07 00:41] joeybaker commented on #50
Sorry to bring this, back up. I just got around to trying this on the 0.14 branch, and I'm not sure if I'm missing something.

Both of these tests fail to find the `'hi'` ref:

[code]

[2015-11-10 21:33] joeybaker commented on #50
@oliverwoodings any thoughts on the above? ↑

[2015-11-15 11:56] oliverwoodings commented on #50
@joeybaker i'm confused why `works hoc` fails given that there is a unit test already doing that kind of thing: https://github.com/QubitProducts/react-test-tree/blob/react0.14/test/testClassNodeTests.jsx#L144

[2015-11-15 22:28] joeybaker commented on #50
@oliverwoodings `works hoc` failed b/c I was stupid, however `works in fn` still doesn't work :\

[code]

[2015-11-16 15:20] oliverwoodings commented on #50
`works in fn` doesn't work because you are never actually calling that function. See https://discuss.reactjs.org/t/children-as-a-function-render-callbacks/626 for an example of how children-as-functions can be used. You need a HOC to actually call the function and return it from it's render function.

[2015-11-16 15:59] joeybaker commented on #50
Doh! You're right of course. Thanks for pointing out my stupid!

[2015-11-16 16:36] oliverwoodings commented on #50
@joeybaker for redux, you should look at the source and work out how the `Provider` is returning the contents. I suspect it will be returning the contents directly from it's render method. If so, your test refs will appear on the Provider itself so you should be able to access them like this:

[code]

`A` ends up being a sort of HoC for `Provider`. You could put an `innerTestRef` on `A` if all you

[2015-11-22 21:14] oliverwoodings commented on #30
1.0.0-rc5 has been released, this will hopefully be the final rc before merging.

[2015-11-23 14:48] #30 closed

[2015-11-23 14:51] oliverwoodings commented on #49
Closed by #31

[2015-11-23 14:51] #49 closed

[2015-11-23 14:51] oliverwoodings commented on #47
Closed by #31

[2015-11-23 14:51] #47 closed

[2015-11-23 14:51] oliverwoodings commented on #45
Closed by #31

[2015-11-23 14:51] #45 closed

[2015-11-23 14:51] oliverwoodings commented on #43
Closed by #31

[2015-11-23 14:51] #43 closed

[2015-11-23 14:52] oliverwoodings commented on #39
Closed by #31

[2015-11-23 14:52] #39 closed

[2015-11-23 14:52] oliverwoodings commented on #24
Closed by #31

[2015-11-23 14:52] #24 closed

[2015-11-23 14:52] oliverwoodings commented on #36
Closed by #31

[2015-11-23 14:52] #36 closed

[2015-11-23 14:53] oliverwoodings commented on #30
1.0.0 is now released!

[2015-11-29 15:56] Blystad opened #53 "React-bootstrap Nav cause issues with testRef"
Hello,

I'm encountering a issue when using react-bootstrap's Nav.

I have the following code:
[code]

And when accessing any of the testRef's I get "undefined".

However, if I replace the `Nav` node with a simple `div` everything works.

[2015-11-29 18:36] Blystad commented on #53
I think I also see a similar issue with `OverlayTrigger`

[2015-11-30 09:30] oliverwoodings commented on #53
Bleurgh, bloody react-bootstrap!

I have a suspicion it is to do with this line https://github.com/react-bootstrap/react-bootstrap/blob/master/src/Nav.js#L81 which clones the children, which means the original `LinkContainer` is never actually rendered (a clone is instead). Could you please confirm this by putting a testRef on the NavItems you have inside and seeing if they work?

[2015-12-05 14:10] Blystad commented on #53
Tested, and your suspicion is correct.

I guess the reason this worked before, was that you used the "ref" property, and that probably gets cloned per default...but testRef doesn't.

[2015-12-30 02:59] jamsea opened #55 "Calling .get() on an <a> tag causes an error"
I'm using react-test-tree with mocha to test a few react components. I have an `Article` component that looks like this:

[code]

In `ArticleTest.js` I wrap my article component like so:
[code]

However when I try running:
[code]

I get the error:
[code]

But if I try:
[code]

I do not get an error. If I try accessing the readMoreButton by calling `article.get("readMoreDiv")[2]` I get the same err

[2016-01-03 16:06] oliverwoodings commented on #55
What is the value of `expanded`? I think this is happening because you are conditionally rendering the `<a />` tag.

[2016-01-15 05:54] minfawang opened #56 "testRefCollection not return the correct children"
I'm just doing a really simple experiment to get children nodes via `testRefCollection`. Here is what I have for the test:
[code]

I intentionally made the test to fail to see what the values returned. Here is the output:
[code]

Notice it gets the second child correctly, but the first child is `undefined`. Is this a bug?

Thanks.

[2016-01-15 11:08] oliverwoodings commented on #56
Weeeeiirrrdddd

Could you try putting the testRefCollection on the div inside `Comp`, and then accessing it with `tree.getIn(['bar', 'baz'])`?

[2016-01-15 17:23] minfawang commented on #56
I'm not sure if I fully understand you, but here is what I did:

[code]

Then I got the almost the same error:
[code]

The first child is still undefined :(

[2016-01-17 15:04] oliverwoodings commented on #56
Sorry no I meant like this:

[code]

[2016-03-08 12:19] oliverwoodings opened #58 "react-test-tree is now deprecated"
I have taken the decision to deprecate `react-test-tree` for several reasons:

#### It is a massive hack
The React team has made it very clear over the last year that accessing the React internals is not cool, and neither is abusing refs. In fact in React v15 they have made it very hard to even find the internal instance of a component (the key is now randomised). `react-test-tree` breaks on prett

[2016-03-08 12:19] #58 closed

[2017-08-23 05:35] xgqfrms-gildata commented on #41
# How to create a Links tree Dynamically?

https://github.com/reactjs/react-router-tutorial/tree/master/lessons/03-navigating-with-link

[2017-08-23 08:49] oliverwoodings commented on #41
Sorry not sure I understand the question? Also this library has been deprecated for well over a year now.